{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div class="footer bg-primary">
    <p>
        DISCOVER is funded in part by NSF award
        <a
                href="https://nsf.gov/awardsearch/showAward?AWD_ID=1939334"
                target="_blank"
                class="link"
        >CNS-1939334</a>, and by the PAWR Industry Consortium.
    </p>
    <p>
        © 2022
        <a
                href="https://discoverccri.org/"
                target="_blank"
                class="link"
        >
            DISCOVER
        </a>
        Project
    </p>
</div>
